#dirottamenti_template_details_html .form-grid{
	display: inline-block!important;


}
#dirottamenti_template_details_html{
	overflow-x: scroll;
    overflow-y:auto;
    width:100%;
    padding-bottom:20px;
	margin-top:20px !important;
}
#dirottamenti_template_details_html.withoutScroll{
	overflow-x: visible !important;
}

#dirottamenti_template_details_html .col-xs-2{
	display:table-cell !important;
	width: 150px;
	float:none;
}
#dirottamenti_template_details_html .grid-heading-row{
	display:flex !important;
}
.dirottamenti_container{
	width:100% !important;
}

#dirottamenti_template_details_html .editable_row{
	border-bottom:1px solid #d1d8dd;
}
#dirottamenti_template_details_html  .editable_row .frappe-control{
	margin: 0px;
}
#dirottamenti_template_details_html .editable_row  .grid-static-col{
	padding:0px;
}
#dirottamenti_template_details_html .editable_row .grid-static-col{
	height:auto;
	float:left;
}
#dirottamenti_template_details_html .editable_row .form-control{
	border:none;
}
